/* your styles go here */
body {
  background-color: #1a1a1a;
}
.my-work-section {
  background-color: #1a1a1a;
}

.contact {
  background-color: #50bda3;
  color: #1a1a1a;
}

nav {
  background-color: #1a1a1a;
}

.send-message-btn {
  background-color: #ffffff;
}
